## Artist data

In [1]:
import pandas as pd
from helpers.data import (
    create_data_path,
    load_parquet_files_in_dir
)
import os

data_folder = create_data_path("top200_Jan_2017_to_June_2023")

In [2]:
artist_data_dir =  os.path.join(data_folder, "artists")
artist_df_dict = load_parquet_files_in_dir(artist_data_dir)
artist_df_dict.keys()

dict_keys(['genres', 'images', 'metadata'])

In [3]:
artist_metadata = artist_df_dict['metadata']
artist_metadata.head()

                        followers          name  popularity
artist_id
30C5wgn4celhRP3Tytv7R6      13584           Mez          49
4og9lYRD6weUueMRu8lbP4      54187    Gali Atari          36
1iC0iOxwU2oglYqtSr5NV7       7200     артилерія          28
2TPXXpBdhNonD9MgaoUevk       1351  Krizz Solano           5
7yLOR62W5h5j5Y4M8nHnAY       2170         fuse.          34

In [4]:
artist_genres = artist_df_dict['genres']
artist_genres.head()

                                         genre
artist_id
30C5wgn4celhRP3Tytv7R6  north carolina hip hop
4og9lYRD6weUueMRu8lbP4     classic israeli pop
48nBjHQMSKiboD7Z4fjZLi                  previa
4VUZyzya1v8H9StAeuKYXW                afro r&b
4VUZyzya1v8H9StAeuKYXW               dutch pop

In [5]:
artist_images = artist_df_dict['images']