## Artist data

In [1]:
import pandas as pd
from helpers.data import (
    create_data_path,
    load_parquet_files_in_dir
)
import os

data_folder = create_data_path("top200_Jan_2017_to_June_2023")

In [2]:
artist_data_dir =  os.path.join(data_folder, "artists")
artist_df_dict = load_parquet_files_in_dir(artist_data_dir)
artist_df_dict.keys()

dict_keys(['genres', 'original_responses', 'images', 'metadata'])

In [3]:
artist_metadata = artist_df_dict['metadata']
artist_metadata.head()

                        followers                 name
artist_id
4KOIqm3HfmXTHdFaxzbg6V         53  Den nye Mads Hansen
3DOs7Bsr9x4eJHqv6ViPvR     155680                  BY2
6GKgflSYzKRuWOUG4GSHAO        737         Sahdev Dirdo
0CxYQi3VnWYI0Un6oyyaEB      18875               Palina
4kpoYPOSgCl2jYvCm6Cp05     134888    Muhammad Al Muqit

In [4]:
artist_genres = artist_df_dict['genres']
artist_genres.head()

                                       genre
artist_id
3DOs7Bsr9x4eJHqv6ViPvR              mandopop
3DOs7Bsr9x4eJHqv6ViPvR  singaporean mandopop
3DOs7Bsr9x4eJHqv6ViPvR       singaporean pop
0CxYQi3VnWYI0Un6oyyaEB      belarusian indie
0CxYQi3VnWYI0Un6oyyaEB       russian alt pop

In [5]:
artist_images = artist_df_dict['images']

## Original Responses

In [6]:
original_responses = artist_df_dict['original_responses']
original_responses.head()

,source,content,timestamp
0,"Spotify API (spotipy v2.23.0, client method: '...","[{'album_id': '6bUxh58rYTL67FS8dyTKMN', 'album...",2023-08-01 20:48:05.175839
1,"Spotify API (spotipy v2.23.0, client method: '...","[{'album_id': '68mjWwD3sLh4wONFIb2Upq', 'album...",2023-08-01 20:48:05.518130
2,"Spotify API (spotipy v2.23.0, client method: '...","[{'album_id': '4YV0amQ85n4nCeSYyqW6Rz', 'album...",2023-08-01 20:48:05.843177
3,"Spotify API (spotipy v2.23.0, client method: '...","[{'album_id': '3cz9fxBXppuImbufikGk2D', 'album...",2023-08-01 20:48:06.189859
4,"Spotify API (spotipy v2.23.0, client method: '...","[{'album_id': '5dpzYigmd97HcZOxWMpv9h', 'album...",2023-08-01 20:48:06.501223

In [7]:
original_responses.source.value_counts()

Spotify API (spotipy v2.23.0, client method: 'artists')    5163
Name: source, dtype: int64

In [8]:
original_responses.timestamp.min(), original_responses.timestamp.max()

(Timestamp('2023-08-01 20:48:05.175839'),
 Timestamp('2023-08-01 21:09:51.697537'))